/* Stili generali */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    overflow: hidden;
    font-family: Arial, sans-serif; /* Font di base */
}

/* Canvas del gioco */
#gameCanvas {
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

/* Contenitore del canvas */
#gameContainer {
    width: 100%; /* Occupa il 100% della larghezza dello schermo */
    height: 100vh; /* Occupa il 100% dell'altezza dello schermo */
    position: relative;
}

/* Pulsante "Salta" */
#jumpButton {
    display: none; /* Inizialmente nascosto */
    position: fixed;
    bottom: 10%; /* Posizione verticale */
    left: 50%;
    transform: translateX(-50%);
    width: 150px; /* Larghezza */
    height: 60px; /* Altezza */
    font-size: 24px; /* Dimensione del font */
    background-color: #4CAF50; /* Colore di sfondo */
    color: rgb(255, 0, 0); /* Colore del testo */
    border: none; /* Rimuovi il bordo */
    border-radius: 10px; /* Bordi arrotondati */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    z-index: 1000; /* Assicura che il pulsante sia sopra altri elementi */
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2); /* Ombra per un effetto 3D */
}

/* Messaggio per desktop */
#desktopMessage {
    display: none; /* Inizialmente nascosto */
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: #7d1010; /* Colore del testo */
    z-index: 1000;
}
