/* Stili generali */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    overflow: hidden;
    font-family: 'Press Start 2P', Arial, sans-serif; /* Font principale */
}

/* Canvas del gioco */
#gameCanvas {
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

/* Contenitore del canvas */
#gameContainer {
    width: 100%;
    height: 100vh;
    position: relative;
}

/* Pulsante "Salta" */
#jumpButton {
    display: none; /* Inizialmente nascosto */
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 60px;
    font-size: 24px;
    background-color: #00ffff;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}

/* Messaggio per desktop */
#desktopMessage {
    display: none; /* Inizialmente nascosto */
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: #ffffff;
    z-index: 1000;
}

/* Media query per dispositivi mobili */
@media only screen and (max-width: 768px) {
    #jumpButton {
        display: block; /* Mostra il pulsante "Salta" su mobile */
    }

    #desktopMessage {
        display: none; /* Nascondi il messaggio per desktop su mobile */
    }
}

/* Media query per desktop */
@media only screen and (min-width: 769px) {
    #jumpButton {
        display: none; /* Nascondi il pulsante "Salta" su desktop */
    }

    #desktopMessage {
        display: block; /* Mostra il messaggio per desktop */
    }

    .hidden {
        display: none !important;
    }
}
